.nav {
    position: absolute;
    width: 192px;
    height: 928px;
    left: -10px;
    top: -19px;
  
    background: #ffffff;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
    border-radius: 0px 25px 25px 0px;
  }
  
  .logo {
    position: absolute;
    left: 60px;
    top: 50px;
  }
  
  .prm {
    position: absolute;
    width: 320px;
    height: 18px;
    left: 20px;
    top: 95px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 169% */
  
    color: #3159c2;
  }
  
  .prof {
    position: absolute;
    width: 93px;
    height: 93px;
    left: 48px;
    top: 170px;
  }
  
  .us {
    position: absolute;
    width: 65px;
    height: 24px;
    left: 60px;
    top: 260px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 118% */
  
    color: #000000;
  }
  .con {
    width: 1248px;
  }
  .boa {
    position: absolute;
    width: 77px;
    height: 24px;
    left: 53px;
    top: 350px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 169% */
  
    color: #b3b3b3;
  }
  
  .tr {
    position: absolute;
    width: 68px;
    height: 24px;
    left: 53px;
    top: 400px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  
    color: #3159c2;
  }
  
  .ph {
    position: absolute;
    width: 67px;
    height: 24px;
    left: 53px;
    top: 450px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  
    color: #b3b3b3;
  }
  
  .ps {
    position: absolute;
    width: 42px;
    height: 24px;
    left: 53px;
    top: 500px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  
    color: #b3b3b3;
  }
  
  .ber {
    position: absolute;
    width: 43px;
    height: 24px;
    left: 53px;
    top: 550px;
    text-align: center;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
  
    color: #b3b3b3;
  }
  
  .sh {
    position: absolute;
    width: 303px;
    height: 24px;
    left: 243px;
    top: 25px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
  
    color: #3159c2;
  }
  
  .tag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
  
    position: absolute;
    width: 310px;
    height: 605px;
    left: 224px;
    top: 115px;
  
    background: #ffffff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }
  
  .tags {
    width: 93px;
    height: 33px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
  
    color: #262626;
  }
  
  .pp {
    width: 120px;
    height: 21px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  
    color: #262626;
  }
  
  .drop {
    margin-top: -25px;
    flex-direction: row;
    justify-content: space-between;
  
    padding: 10px 15px;
    gap: 10px;
  
    width: 250px;
    height: 44px;
  
    background: #ffffff;
  
    border: 1px solid #d4d4d4;
    border-radius: 5px;
  }
  
  .ta {
    width: 120px;
    height: 21px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  
    color: #262626;
  }
  
  .inpa {
    box-sizing: border-box;
  
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
  
    width: 250px;
    height: 44px;
  
    background: #ffffff;
  
    border: 1px solid #d4d4d4;
    border-radius: 10px;
  }
  
  .tk {
    width: 198px;
    height: 21px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
  
    color: #262626;
  }
  
  .inpt {
    box-sizing: border-box;
  
    margin-top: -25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
  
    width: 250px;
    height: 44px;
  
    background: #ffffff;
  
    border: 1px solid #d4d4d4;
    border-radius: 10px;
  }
  
  .tb {
    /* Label title */
  
    width: 188px;
    height: 21px;
  
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
  
    /* neutral-800 */
  
    color: #262626;
  }
  
  .inpk {
    box-sizing: border-box;
  
    /* Auto layout */
  
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    gap: 10px;
    margin-top: -25px;
    width: 250px;
    height: 44px;
  
    /* white */
  
    background: #ffffff;
    /* neutral-300 */
  
    border: 1px solid #d4d4d4;
    border-radius: 10px;
  }
  
  .krm {
    position: absolute;
    width: 290px;
    height: 56px;
    left: 40px;
    top: 580px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    border-color: white;
    color: #ffffff;
    background: #3159c2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    border-radius: 25px;
  }
  .sp {
    position: absolute;
    width: 189px;
    height: 24px;
    left: 646px;
    top: 106px;
  
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 118% */
  
    color: #090909;
  }
  
  table {
    position: absolute;
    height: 100px;
    width: 1100px;
    left: 646px;
    top: 170px;
  }
  
  .up {
    width: 1100px;
    height: 50px;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 23px;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  
    color: #3159c2;
  }
  
  .no {
    padding-left: 20px;
    width: 190px;
  }
  
  .name {
    width: 250px;
  }
  
  .usr {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
  
    color: #000000;
  }
  
  .tr {
    height: 50px;
  }
  
  .lihat {
    width: 64px;
    height: 30px;
    border: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
  
    /* white */
  
    color: #ffffff;
    background: #1d4ed8;
    border-radius: 3px;
  }
  
  .approve {
    border: white;
    width: 64px;
    height: 30px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
  
    /* white */
  
    color: #ffffff;
    background: #8eb36b;
    border-radius: 3px;
  }
  
  .sd {
    border: white;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */
  
    /* white */
  
    color: #ffffff;
    width: 106px;
    height: 23px;
    background: #8eb36b;
    border-radius: 3px;
  }